<header>
    <div class="container">
        <button type="button" class="menu-btn">
            <svg class="icon-head-btn" width="24" height="24">
              <use href="../img/icons.svg#icon-menu"></use>
            </svg>
        </button>
        <nav class="header-nav">
            <ul class="header-list">
                <li class="header-item">
                    <a href="" class="header-link">Yoga classes</a>
                </li>
                <li class="header-item">
                    <a href="" class="header-link">Team</a>
                </li>
                <li class="header-item">
                    <a href="" class="header-link">Testimonials</a>
                </li>
                <li class="header-item">
                    <a href="" class="header-link">Pricing</a>
                </li>
                <li class="header-item">
                    <a href class="header-link">Contacts</a>
                </li>
            </ul>
            <a href="../index.html" class="header-logo">
                <svg class="icon-head-logo" width="84" height="36">
                  <use href="../img/icons.svg#icon-logo"></use>
                </svg>
            </a>
        </nav>

        <button type="submit" class="header-btn">Join</button>
        <button type="submit" class="header-btn-now">Join Now</button>
    </div>

    <div class="mobile-menu is-open">
        <div class="mob-menu-container">
        <button type="button" class="menu-btn-close">
            <svg class="icon-head-btn-close" width="24" height="24">
                <use href="../img/icons.svg#icon-cloze"></use>
            </svg>
        </button>

        <a href="../index.html" class="header-logo">
            <svg class="icon-head-logo" width="84" height="36">
                <use href="../img/icons.svg#icon-logo"></use>
            </svg>
        </a>

        <button type="submit" class="header-btn">Join</button>
        <button type="submit" class="header-btn-now">Join Now</button>

        <nav class="menu-nav">
        <ul class="menu-list">
            <li class="header-item">
                <a href="" class="menu-link">Yoga classes</a>
            </li>
            <li class="header-item">
                <a href="" class="menu-link">Team</a>
            </li>
            <li class="header-item">
                <a href="" class="menu-link">Testimonials</a>
            </li>
            <li class="header-item">
                <a href="" class="menu-link">Pricing</a>
            </li>
            <li class="header-item">
                <a href class="menu-link">Contacts</a>
            </li>
        </ul>
        </nav>

        <button type="submit" class="menu-btn-big">Join Now</button>
        </div>
    </div>
</header>