<header class="page-header">
  <div class="container header-container">
    <button type="button" class="menu-btn" data-mobile-navbar-open>
      <svg class="icon-head-btn" width="24" height="24">
        <use href="/img/icons.svg#icon-menu"></use>
      </svg>
    </button>
    <!---->
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-item">
          <a href="#yoga-classes" class="header-nav-link current"
            >Yoga classes</a
          >
        </li>
        <li class="header-item">
          <a href="#team" class="header-nav-link">Team</a>
        </li>
        <li class="header-item">
          <a href="#testimonials" class="header-nav-link">Testimonials</a>
        </li>
        <li class="header-item">
          <a href="#pricing" class="header-nav-link">Pricing</a>
        </li>
        <li class="header-item">
          <a href="#footer" class="header-nav-link">Contacts</a>
        </li>
      </ul>
    </nav>
    <!---->
    <a href="/index.html" class="header-logo">
      <svg class="icon-head-logo" width="84" height="36">
        <use href="/img/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <!---->
    <div class="link-container">
      <a class="join-link-mobile" href="#pricing">Join</a>
      <a class="join-link-desktop" href="#pricing">Join now</a>
    </div>
  </div>

  <!--Mobile navbar menu-->
  <div class="mobile-navbar is-hidden" data-mobile-navbar>
    <div class="container mobile-navbar-container">
      <button
        type="button"
        class="navbar-button-close"
        data-mobile-navbar-close
      >
        <svg class="modal-close-icon" width="12" height="12">
          <use href="/img/icons.svg#icon-cloze"></use>
        </svg>
      </button>
      <!---->
      <nav class="navbar-menu-nav">
        <ul class="navbar-nav-list">
          <li class="header-item">
            <a href="#yoga-classes" class="navbar-nav-link">Yoga classes</a>
          </li>
          <li class="navbar-nav-item">
            <a href="#team" class="navbar-nav-link">Team</a>
          </li>
          <li class="navbar-nav-item">
            <a href="#testimonials" class="navbar-nav-link">Testimonials</a>
          </li>
          <li class="navbar-nav-item">
            <a href="#pricing" class="navbar-nav-link">Pricing</a>
          </li>
          <li class="navbar-nav-item">
            <a href="#footer" class="navbar-nav-link">Contacts</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
