<div>
  <button type="button" data-modal-open-10>Test-10</button>
  <button type="button" data-modal-open-65>Test-65</button>
  <button type="button" data-modal-open-80>Test-80</button>
</div>

<div class="backdrop is-hidden" data-modal-10>
  <div class="modal">
    <button type="button" class="modal-button-close" data-modal-close>
      <svg class="modal-close-icon" width="16" height="16">
        <use href="../img/icons.svg#icon-cloze"></use>
      </svg>
    </button>
    <!---->
    <div class="modal-block">
      <h2 class="modal-text-header">Join Now!</h2>
      <div class="modal-text">
        <p class="modal-text-session">One Session</p>
        <p class="modal-text-price">$10</p>
      </div>
      <!---->
      <form class="modal-form">
        <div class="modal-form-wrapper">
          <label class="modal-form-label" for="user-name">Your Name</label>
          <div class="modal-form-field">
            <input
              type="text"
              id="user-name"
              name="user-name"
              placeholder="Placeholder"
              class="modal-form-field-input"
            />
          </div>
        </div>
        <div class="modal-form-wrapper">
          <label class="modal-form-label" for="user-email">Email</label>
          <div class="modal-form-field">
            <input
              type="email"
              id="user-email"
              name="user-email"
              placeholder="Placeholder"
              class="modal-form-field-input"
            />
          </div>
        </div>
        <div class="modal-form-wrapper">
          <label class="modal-form-label" for="user-phone">Phone number</label>
          <div class="modal-form-field">
            <input
              type="tel"
              id="user-phone"
              name="user-phone"
              placeholder="Placeholder"
              required
              class="modal-form-field-input"
            />
          </div>
        </div>
        <button type="submit" class="modal-button-checkout">
          Go to checkout
        </button>
      </form>
    </div>
  </div>
</div>
<!---->
<div class="backdrop is-hidden" data-modal-80>
  <div class="modal">
    <button type="button" class="modal-button-close" data-modal-close>
      <svg class="modal-close-icon" width="16" height="16">
        <use href="../img/icons.svg#icon-cloze"></use>
      </svg>
    </button>
    <!---->
    <div class="modal-block">
      <h2 class="modal-text-header">Join Now!</h2>
      <div class="modal-text">
        <p class="modal-text-session">12 Sessions Package</p>
        <p class="modal-text-price">$80</p>
      </div>
      <!---->
      <form class="modal-form">
        <div class="modal-form-wrapper">
          <label class="modal-form-label" for="user-name">Your Name</label>
          <div class="modal-form-field">
            <input
              type="text"
              id="user-name"
              name="user-name"
              placeholder="Placeholder"
              class="modal-form-field-input"
            />
          </div>
        </div>
        <div class="modal-form-wrapper">
          <label class="modal-form-label" for="user-email">Email</label>
          <div class="modal-form-field">
            <input
              type="email"
              id="user-email"
              name="user-email"
              placeholder="Placeholder"
              class="modal-form-field-input"
            />
          </div>
        </div>
        <div class="modal-form-wrapper">
          <label class="modal-form-label" for="user-phone">Phone number</label>
          <div class="modal-form-field">
            <input
              type="tel"
              id="user-phone"
              name="user-phone"
              placeholder="Placeholder"
              required
              class="modal-form-field-input"
            />
          </div>
        </div>
        <button type="submit" class="modal-button-checkout">
          Go to checkout
        </button>
      </form>
    </div>
  </div>
</div>
<!---->
<div class="backdrop is-hidden" data-modal-65>
  <div class="modal">
    <button type="button" class="modal-button-close" data-modal-close>
      <svg class="modal-close-icon" width="16" height="16">
        <use href="../img/icons.svg#icon-cloze"></use>
      </svg>
    </button>
    <!---->
    <div class="modal-block">
      <h2 class="modal-text-header">Join Now!</h2>
      <div class="modal-text">
        <p class="modal-text-session">8 Sessions Package</p>
        <p class="modal-text-price">$65</p>
      </div>
      <!---->
      <form class="modal-form">
        <div class="modal-form-wrapper">
          <label class="modal-form-label" for="user-name">Your Name</label>
          <div class="modal-form-field">
            <input
              type="text"
              id="user-name"
              name="user-name"
              placeholder="Placeholder"
              class="modal-form-field-input"
            />
          </div>
        </div>
        <div class="modal-form-wrapper">
          <label class="modal-form-label" for="user-email">Email</label>
          <div class="modal-form-field">
            <input
              type="email"
              id="user-email"
              name="user-email"
              placeholder="Placeholder"
              class="modal-form-field-input"
            />
          </div>
        </div>
        <div class="modal-form-wrapper">
          <label class="modal-form-label" for="user-phone">Phone number</label>
          <div class="modal-form-field">
            <input
              type="tel"
              id="user-phone"
              name="user-phone"
              placeholder="Placeholder"
              required
              class="modal-form-field-input"
            />
          </div>
        </div>
        <button type="submit" class="modal-button-checkout">
          Go to checkout
        </button>
      </form>
    </div>
  </div>
</div>
