
<section class="pricing-section">
  <div class="pricing-container container" id="pricing">
    <h2 class="title-top">Affordable</h2>
    <h3 class="title-one">Pricing Plans</h3>
    <p class="discription">Choose the perfect plan for your yoga journey.</p>

    <ul class="plan-cards">
        <li class="plan-card">
        <h4 class="title-card card-title">One Session</h4>
        <p class="price">$10</p>

        <ul class="plan-card-list">
            <li class="plan-card-list-item"><span class="pixel"><svg class="icon-check">
                <use xlink:href="img/icons.svg#icon-Check" width="24px" height="24px"></use>
            </svg></span> 1 group session</li>
            <li class="plan-card-list-item"><svg class="icon-check">
                <use xlink:href="img/icons.svg#icon-Check" width="24px" height="24px"></use>
            </svg>10% discount for next 2 Sessions</li>
            <li class="plan-card-list-item"><svg class="icon-check">
                <use xlink:href="img/icons.svg#icon-Check" width="24px" height="24px"></use>
            </svg>Community support group</li>
        </ul>

        <button type="button" class="join-btn" data-modal-open-10>Join</button>
        </li>

        <li class="plan-card">
        <h5 class="title-card">8 Sessions Package</h5>
        <p class="price">$65</p>

        <ul class="plan-card-list">
            <li class="plan-card-list-item">
                <svg class="icon-check">
                <use xlink:href="img/icons.svg#icon-Check" width="24px" height="24px"></use>
            </svg>6 Group Sessions</li>
            <li class="plan-card-list-item">
                <svg class="icon-check">
                <use xlink:href="img/icons.svg#icon-Check" width="24px" height="24px"></use>
            </svg>2 Individual Sessions</li>
            <li class="plan-card-list-item">
                <svg class="icon-check">
                <use xlink:href="img/icons.svg#icon-Check" width="24px" height="24px"></use>
            </svg>Priority customer support</li>
        </ul>

        <button type="button" class="join-btn" data-modal-open-65>Join</button>
        </li>

        <li class="plan-card-three">
        
            <div class="plan-card-right">
                <h6 class="title-card title_card">12 Sessions Package</h6>
                <p class="price price_item">$80</p>
                <button type="button" class="join-btn btn-three" data-modal-open-80>Join</button>
            </div>
        <ul class="plan-card-list last-list">
            <li class="plan-card-list-item">
                <svg class="icon-check">
                <use xlink:href="img/icons.svg#icon-Check" width="24px" height="24px"></use>
            </svg>8 Group Sessions</li>
            <li class="plan-card-list-item">
                <svg class="icon-check">
                <use xlink:href="img/icons.svg#icon-Check" width="24px" height="24px"></use>
            </svg>4 Individual Sessions</li>
            <li class="plan-card-list-item">
                <svg class="icon-check">
                <use xlink:href="img/icons.svg#icon-Check" width="24px" height="24px"></use>
            </svg>Monthly yoga challenges</li>
            <li class="plan-card-list-item">
                <svg class="icon-check">
                <use xlink:href="img/icons.svg#icon-Check" width="24px" height="24px"></use>
            </svg>Exclusive member discounts</li>
            <li class="plan-card-list-item">
                <svg class="icon-check">
                <use xlink:href="img/icons.svg#icon-Check" width="24px" height="24px"></use>
            </svg>Community support group</li>
        </ul>

        <button type="button" class="join-btn join_btn" data-modal-open-80>Join</button>
        </li>
    </ul>
  </div>
</section>
