@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');





.icon-check {
 display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
}

/* 
--------------- start----------------- */


/* .container {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    padding: 0 16px;
} */

@media screen and (min-width:768px){
    .pricing-container {
        /* max-width: 768px; */
       
    }
}

@media screen and (min-width:1158px) {
    .pricing-container {
        /* max-width: 1440px; */
        padding: 0 15px;
        margin: 0 auto;

    }
}

/* pricing section */
.pricing-container { 
    /* width: 100%; */
    /* max-width: 375px; */
    margin: 0 auto;
    padding: 0 16px;
    min-width: 320px;
    max-width: 375px;
}

.pricing-section {
    padding: 60px 0;
    background-color: #F9F9F9;
    color: #0D0B0A;
    /* text-align: center; */
}
.title-top {
    font-family: "Sarabun", sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 12px;
}

.title-one {
    font-family: "Cabin", sans-serif;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

.discription {
    font-family: "Sarabun", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    
}

.plan-cards {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 48px;
    
}

p:last-child{
    margin-bottom: 24px;
}


.plan-card,
.plan-card-three {
    /* width: 100%; */
    height: 378px;
    background-color: #DFEBEB;
    border-radius: 8px;
    padding: 24px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    
}

.plan-card-three {
    height: 462px;
}

.title-card {
    font-family: "Cabin", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: #0D0B0A;
    margin-bottom: 16px;
    text-align: center;
    line-height: 140%;
    letter-spacing: 1%;
}


.price {
    font-family: "Cabin", sans-serif;
    font-size: 44px;
    font-weight: 400;
    color: #0D0B0A;
    text-align: center;
    margin-bottom: 24px;
     line-height: 140%;
    letter-spacing: 1%;
}

.plan-card-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
}

.plan-card-list-item {
    font-family: "Sarabun", sans-serif;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0%;

}


.join-btn {
    font-family: "Sarabun", sans-serif;
    width: 100%;
    height: 48px;
    color: #0D0B0A;
    font-size: 16px;
    font-weight: 600;
    background: #C2D9FC;
    border: 1px solid #C2D9FC;
    border-radius: 100px;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-btn:hover,
.join-btn:focus {
    color: #0d0b0a;
    background-color: rgba(13, 11, 10, 0.05);
  opacity: 0.5;
}

.btn-three {
    display: none;
}

.pixel {
margin-left: -3px;
}

@media screen and (min-width: 768px) {
    .pricing-container  {
        /* max-width: 768px; */
       max-width: 1336px;
    }
    
    .pricing-section {
        /* width: 1280px; */
        /* padding: 40px 32px ; */
                
    }

    .discription {
    margin-bottom: 24px;
    }


    .plan-cards {
        flex-direction: row;
        gap: 24px;
        flex-wrap: wrap;
        width: 704px;
        margin: 0 auto;
    
    }
    

    .plan-card {
        width: calc(50% - 12px);
        /* display: flex; */
        height: 383px;
        padding: 16px;
    }

    .title-top {
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 1%;
        margin-bottom: 16px;
    }

    .title-one {
        font-weight: 400;
        font-size: 40px;
        line-height: 140%;
        letter-spacing: 1%;
        margin-bottom: 24px;
    }

    .title-card {
        font-weight: 400;
        font-size: 22px;
        line-height: 140%;
        letter-spacing: 1%;
        margin-bottom: 8px;
    }

    .price {
        font-weight: 400;
        font-size: 72px;
        line-height: 120%;
        letter-spacing: 1%;
        margin-bottom: 32px;
    }

    .plan-card-list-item {
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0%;
    }

    
    .plan-card-three {
        width: 704px;
        height: 383px;
        display: flex;
        flex-wrap: wrap;
    }

    .plan-card-three .join-btn {
        width: 320px;
        
    }

    .plan-card:last-child {
        
        height: 383px;
    }
    
    .plan-card:last-child .join-btn {
        width: 320px;
        
        
    }

    .plan-card .plan-card-list {
        
        /* align-items: flex-end; */
        
    }

    .plan-card-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 320px;
       
    }

   .plan-card:last-child {
    width: 704px;
   }

   .last-list {
    justify-content: center;
    margin-left: 32px;
    padding-top: 13px;
    }

   .join_btn { 
     display: none;
    }

    


    .btn-three {
    display: block;
}
    

    


}




@media screen and (min-width:1158px) {
    

    p:last-child {
        margin-bottom: 0px;
    }
    .pricing-section {
       /* width: 1440px; */
        /* padding: 60px 15px; */
        margin: 0 auto;
    }
    
    .container {
        max-width: 1440px; 
        padding: 0 15px;
        margin: 0 auto;
    }

    .title-card {
        font-weight: 400;
        font-size: 22px;
        line-height: 140%;
        letter-spacing: 1%;
    }

    .price {
        font-weight: 400;
        font-size: 72px;
        line-height: 120%;
        letter-spacing: 1%;
        margin-bottom: 32px;
    }

    .plan-card-list-item {
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0%;
    }

    .plan-card-right {
        width: 357px;
        max-width: 100%;
        
    }
    .plan-cards {
        max-width: 1071px;
        height: 509px;
        flex-direction: row;
        gap: 24px;
        flex-wrap: nowrap;
        width: 100%;
        justify-content: center;
    }

    .plan-card {
        
    }

    .plan-card,
    .plan-card-three {
        width: calc(33.333% - 16px);
        min-width: 320px;
        max-width: 421px;
        height: 509px;
        display: flex;
        flex-wrap: wrap;
        /*  */
        /* justify-content: space-between; */
        /* align-items: center; */
        flex-direction: column;
        padding: 32px;
    }

     .plan-card-list {
        /* margin-top: 32px; */
        margin-bottom: 116px;
        }

    .plan-card:last-child {
        width: calc(33.333% - 16px);
        min-width: 320px;
        max-width: 421px;
        height: 509px;
        /* margin-bottom: 32px; */
    } 

    .plan-card-list {
        margin-bottom: 116px;
    }

    

    .plan-card-three .plan-card-list {
        margin-bottom: 32px;
        /* margin-top: 32px; */
    }

    .plan-card-three .join-btn {
        width: 100%;
    }
    .btn-three {
        display: none;
    }
    .join_btn {
        display: block;
    }

    .icon-check {
       margin-right: 16px;
    }
    .last-list {
        padding-top: 0px;
    }
}

@media screen and (min-width: 1336px) {
    .pricing-container {
        max-width: 1440px;
        padding: 0 64px;
    }

        .plan-cards {
        max-width: 1440px;
        height: 509px;
        flex-direction: row;
        gap: 24px;
        flex-wrap: nowrap;
        width: 100%;
        justify-content: center;
        }

    .join_btn { 
        display: block;
    }

    .btn-three {
        display: none;
}


}